@CHARSET "UTF-8";
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjX01lx/MK0kzQst/MaJRdKKt/I3DLLnbo/p6dS0agd/dQHLLCc_/2BtEWD3h/9L1iFm7Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjW8_2B/4CFflE_2/Fwkd4BBz/RvUIQpDZ/HXeop6dS/0agddQHL/LCc_2BtE/WD3h9L1i/Fm7YKyix/mhw_3D/b29/) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjW47_2/BD0o4VLf/_2BvsAO1/Uib8QsDJ/G6WJp6dS/0agddQHL/LCc_2BtE/WD3h9L1i/Fm7YKyix/mhw_3D/b29/) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWgW4w/Qb1G_2F1/kd87KRJJ/bsM_2BIY/HaaKB6dS/0agddQHL/LCc_2BtE/WD3h9L1i/Fm7YKyix/mhw_3D/b29/) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjV869i/Ir71rJqv/IZGTlIR_/2BA8N4f9/WYp6dS0a/gddQHLLC/c_2BtEWD/3h9L1iFm/7YKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWx74x/I65Xnnp9/0gMCBsb9/pJUpvGdq/B6dS0agd/dQHLLCc_/2BtEWD3h/9L1iFm7Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjTs43R/NfnTfmhM/IHeFBqb_/2F4GLYLm/ZrJLZBAb/wsMnI9vw/cNJbZUzk/ruUiMB_2/FYKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjTkp7U/EKyDCnpM/81BD9MaP/QsKb3VXa/BkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjU8gmg/5c9WTesM/MUFS5eX_/2FsnO_2F/PmfbBkYy/QHue8YAr/nBXNVcSS/CLh55lBz/3YKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjSQAn0/MmzzCnpY/wdFC5ZNY/MSO5rccL/BkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjUB_2F/_2FUYb12/fCr4M0Ah/NpToAvNq/DZUbBkYy/QHue8YAr/nBXNVcSS/CLh55lBz/3YKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjUcV6i/AuwESlr_/2FMcc1Bc/Le4mAYP_/2BWKBkYy/QHue8YAr/nBXNVcSS/CLh55lBz/3YKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjVk_2B/20Rf1WrC/oMo3Egtc/K8xJNZL6/cLBkYyQH/ue8YArnB/XNVcSSCL/h55lBz3Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjUErwU/Zfzy3lru/kdL1ZqcY/csJa_2FY/eLRaTxgt/yO8_2BBa/LBQPtDWB/aZq71BPi/nYKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWwnmh/AW_2Fi3W/reIsEQVI/ev4LIK7c/V71LZBAb/wsMnI9vw/cNJbZUzk/ruUiMB_2/FYKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWQJ3A/Eg5ln2l9/k1BlVpVM/AqEIDZQY/RLZBAbws/MnI9vwcN/JbZUzkru/UiMB_2FY/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjSR_2B/wEUciV_2/FI_2BIIe/JlMsW_2F/goMq3GUJ/RLZBAbws/MnI9vwcN/JbZUzkru/UiMB_2FY/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjXx8_2/BjgcyTCp/_2BvcjKj/UuU4YuV7/nlb5RLZB/AbwsMnI9/vwcNJbZU/zkruUiMB/_2FYKyix/mhw_3D/b29/) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjUco6E/4h0G7euP/YXLkt1d_/2FsQJPvg/d7JLZBAb/wsMnI9vw/cNJbZUzk/ruUiMB_2/FYKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjU8v1k/A703aph8/A5dldaK_/2FNOO4TM/dJRLZBAb/wsMnI9vw/cNJbZUzk/ruUiMB_2/FYKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjUob7E/c0_2FUGp/qsACcQ1I/TN4nU57Z/a6MAYCUq/lok_3D/b29/) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjVMA3z/wJwWzIqv/s5BlArXc/YlIZjJZ5/pkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWYEx0/Rcz3fAn8/wdAjFqWd/4FK6jOTa/BkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjXsL2D/8I7m7j_2/BtZadBd5/KO8xJ_2F/LDZ6BkYy/QHue8YAr/nBXNVcSS/CLh55lBz/3YKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWQ0ly/IPzzbkio/xeFy9QXu/8RJobVbL/BkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWQuwx/8c1k3Z_2/FoM3KFB_/2BXeY9Op/3LdrBkYy/QHue8YAr/nBXNVcSS/CLh55lBz/3YKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWYDyz/Eb_2Fk79/uu4IJxxX/QdsTNZ28/S6BkYyQH/ue8YArnB/XNVcSSCL/h55lBz3Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjVs09D/0Iynr0p4/k_2FdBxI/fc4YBvPY/S7RaTxgt/yO8_2BBa/LBQPtDWB/aZq71BPi/nYKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjT576C/8qzlLzj8/AjdQdYau/U5C6flLY/pkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWA_2F/9FobxkPJ/hvEsIwhx/d4AgN7zF/SopkYyQH/ue8YArnB/XNVcSSCL/h55lBz3Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjVwUmB/5Y7njAjN/deJzBPe4/c8M776b4/pkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWMf4E/Uv41bVqt/k7OCV1fv/wZCZjpeK/BkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjVk79B/RB_2FWLY/hI5cdRFZ/IcQ9UoLM/TrBkYyQH/ue8YArnB/XNVcSSCL/h55lBz3Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjTB72x/YE3Gngku/gCLwVZef/U6KvjsSZ/pkYyQHue/8YArnBXN/VcSSCLh5/5lBz3YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjW1hmD/411Gzejt/UOAgd4U8/wHFJPeUa/RaTxgtyO/8_2BBaLB/QPtDWBaZ/q71BPinY/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjV403C/8mxTDS_2/B_2FEJNS/UsdPseBY/y5erB6dS/0agddQHL/LCc_2BtE/WD3h9L1i/Fm7YKyix/mhw_3D/b29/) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjUY89i/Id8G_2Bh/nd08EA5c/cuksJa_2/FBSaB6dS/0agddQHL/LCc_2BtE/WD3h9L1i/Fm7YKyix/mhw_3D/b29/) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjTgk9B/FcllDeif/QFclRwKu/AUBI7iS6/B6dS0agd/dQHLLCc_/2BtEWD3h/9L1iFm7Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjWoI5R/8_2BxVj_/2Fme4iFw/R6d84IB4/T_2FJ5p6/dS0agddQ/HLLCc_2B/tEWD3h9L/1iFm7YKy/ixmhw_3D/b29/) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjUJ_2B/nRQU81bF/uvMrBVBf/UsU6NaK9/KbB6dS0a/gddQHLLC/c_2BtEWD/3h9L1iFm/7YKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjX8f1A/IAwkvCg4/ohDQxxft/MeG6jfW4/p6dS0agd/dQHLLCc_/2BtEWD3h/9L1iFm7Y/Kyixmhw_/3D/b29/) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/browse.php/lMYU4kTZ/Z_2BhVSI/GKAPFcjZ/FTcTI8hN/d4M7_2Bm/UN6e_2BY/JSjX8czQ/4C90yhuf/IcHlB_2F/QIETKJ3P/Z4RLZBAb/wsMnI9vw/cNJbZUzk/ruUiMB_2/FYKyixmh/w_3D/b29/) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}